{% extends '_layout.html' %} {% block content %}
<div class="row justify-content-center">
  <h1>Giev Meer Marneh</h1>
</div>
<div class="row justify-content-center">
  <img src="{{image_file.user_image_url}}" alt="{{image_file.id}}" />
</div>
<!-- brain tree -->
<!-- form start -->
<form
  id="payment-form"
  method="post"
  action="{{url_for('donations.create_purchase', image_id=image_file.id, user_id=image_file.user.id)}}"
>
  <section class="row justify-content-center">
    <label for="amount">
      <span class="input-label">Amount</span>
      <div class="input-wrapper amount-wrapper">
        <input
          id="amount"
          name="amount"
          type="tel"
          min="1"
          placeholder="Amount"
          value="10"
        />
      </div>
    </label>

    <div class="bt-drop-in-wrapper">
      <div id="bt-dropin"></div>
    </div>
  </section>

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" id="nonce" name="payment_method_nonce" />
  <!-- <button class="button" type="submit" id="submit-button">
    <span>Test Transaction</span>
  </button> -->
</form>
<!-- form end -->
<div class="row justify-content-center">
  <div id="dropin-container"></div>
  <button class="btn btn-primary mt-sm-2" id="submit-button">
    Request payment method
  </button>
  <script>
    const button = document.querySelector("#submit-button");
    const form = document.querySelector("#payment-form");

    braintree.dropin.create(
      {
        authorization: "{{client_token}}",
        container: "#dropin-container"
      },
      function(createErr, instance) {
        button.addEventListener("click", function() {
          instance.requestPaymentMethod(function(err, payload) {
            document.querySelector("#nonce").value = payload.nonce;
            console.log(payload.nonce);
            form.submit();
            // Submit payload.nonce to your server
          });
        });
      }
    );
  </script>
</div>
{% endblock %}
